body {
    margin: 0;
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}

.halign-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.select {
    user-select: all;
}