#dragZone {
    width: 128px;
    height: 128px;
    border: 2px dashed black;
    border-radius: 15px;
}

#dragZone > span {
    margin: auto;
}

#filePicker {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}