<div>
  <div class="row">
    <div class="col s12 m3">
      <div class="halign-wrapper">
        <div id="dragZone" class="valign-wrapper" (drop)="dropHandler($event)">
          <span>Drop files here</span>
        </div>
        <div>
          <label>
            <input
              #filePicker
              id="filePicker"
              type="file"
              (change)="setFilesToUpload($event.target.files)"
              multiple
            />
            <span class="btn">Add Files</span>
          </label>
        </div>
        <button class="btn" (click)="uploadFile()" [disabled]="!filesToUpload.length">Upload</button>
      </div>
    </div>
    <div class="col s12 m9">
      <div>
        <table class="responsive-table">
          <thead><th>File Name</th><th>Status</th></thead>
          <tbody>
            <tr *ngFor="let file of filesToUpload" app-fileuploadstatus [file]="file" >
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
