<div class="halign-wrapper">
  <div class="row">
    <div class="col s12">
      <div>
        <label for="fileId"
          ><span>File ID</span>
          <input type="text" id="fileId" [(ngModel)]="fileId"
        /></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div>
        <label for="encKey"
          ><span>Decryption Key</span>
          <input
            id="encKey"
            type="text"
            [class.valid]="keyIsValid"
            [class.invalid]="!keyIsValid"
            [(ngModel)]="encryptionKey"
            (ngModelChange)="validate($event)"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn" (click)="getFile()" [disabled]="!keyIsValid">
        Fetch and decrypt
      </button>
    </div>
    <a class="right" *ngIf="url" [href]="url" [download]="fileName"><div class="btn">Download File</div></a>
  </div>
  <div class="col">
    {{message}}
  </div>
  <div class="row" *ngIf="image">
    <div *ngIf="!viewImage" class="col">
      <div>File appears to be an image. View it in the browser?</div>
      <button class="btn" (click)="viewImageToggle()">View</button>
    </div>
    <div *ngIf="viewImage" class="col s12">
      <img [src]="image" />
    </div>
  </div>
  <div class="row" *ngIf="text">
    <div class="row">
      <div class="col s4">
        <div>
          <label for="file-name">File name</label>
          <input id="file-name" type="text" [(ngModel)]="fileName" disabled/>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div>
        <label for="editor">File Content</label>
        <textarea
          id="editor"
          [ngModel]="text"
          class="materialize-textarea"
          disabled
        ></textarea>
      </div>
    </div>
  </div>
</div>
