<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12">
        <a href="#" class="brand-logo center">Meteokre</a>
        <ul class="left">
          <li>
            <a routerLink="fileview">View File</a>
          </li>
          <li *ngIf="this.userService.loggedIn | async">
            <a routerLink="pastebin">Pastebin</a>
          </li>
          <li *ngIf="this.userService.loggedIn | async">
            <a routerLink="fileupload">Upload file</a>
          </li>
        </ul>
        <ul class="right">
          <li class="red lighten-1" *ngIf="!(this.userService.loggedIn | async)">
            <a routerLink="login">Login</a>
          </li>
          <li class="red lighten-1" *ngIf="!(this.userService.loggedIn | async)">
            <a routerLink="register">Register</a>
          </li>
          <li class="red lighten-1" *ngIf="this.userService.loggedIn | async">
            <a (click)="this.userService.logout()">Logout {{this.userService.username}}</a>
          </li>
          <li *ngIf="this.userService.loggedIn | async">
            <a routerLink="profile">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
