<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12">
        <a href="#" class="brand-logo left">Meteokre</a>
        <ul class="nav-mobile right">
          <li>
            <a routerLink="fileview">View File</a>
          </li>
          <li>
            <a routerLink="pastebin">Pastebin</a>
          </li>
          <li>
            <a routerLink="fileupload">Upload file</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
