<div>
  <div class="row">
    <div class="col s4">
      <div class="input-field">
        <label for="file-name">File name</label>
        <input id="file-name" type="text" [(ngModel)]="fileName" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <label for="editor">Text</label>
        <textarea
          id="editor"
          [(ngModel)]="text"
          class="materialize-textarea"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s2 offset-s10">
      <button class="btn" type="submit" (click)="uploadText()">
        Upload text <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <table class="responsive-table">
    <thead><th>File Name</th><th>Status</th></thead>
    <tbody>
      <tr *ngFor="let file of filesToUpload" app-fileuploadstatus [file]="file" >
      </tr>
    </tbody>
  </table>
</div>
